[user]
  name  = tshr
  email = toshiro.sugihara@gmail.com
[alias]
  lg  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  co  = checkout
  b   = branch
  st  = status -s
  c   = commit
  a   = add -p
  p   = pull
  poh = push origin HEAD
[color]
  ui = true
[core]
  editor = /usr/bin/vim
